<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li><router-link :to="{name: 'IndexDashboard'}">Home</router-link></li>
              <li class="active">Sub Parameter</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Sub Parameter</div>

                <div class="panel-body">
                    <router-link 
                      :to="{name: 'CreateSubParameter'}" 
                      class="btn btn-md btn-primary"> 
                        Tambah Sub Parameter
                    </router-link>
                    <br/>
                    <div class="table-responsive">
                    
                    <div align="right">
                    <input type="text" placeholder="Pencarian ..." v-bind:style="{width: '20%' }" v-model="pencarian" class="form-control" />
                    </div>
                    <br/>
                    <table class="table table-bordered" >
                    <thead>
                        <th>Mata Kuliah</th>
                        <th>Jurusan</th>
                        <th>Parameter</th>
                        <th>Sub Parameter</th>
                        <th>Prosentase Sub Parameter</th>
                        <th>Aksi</th>
                    </thead>
                    <tbody v-if="subparameter.length">
                      <tr v-for="subparameter,index in subparameter">
                        <td>{{ subparameter.mata_kuliah}}</td>
                        <td>{{ subparameter.jurusan}}</td>
                        <td>{{ subparameter.parameter}}</td>
                        <td>{{ subparameter.subparameter}}</td>
                        <td>{{ subparameter.prosentase}}</td>
                        <td >
                        <router-link 
                          :to="{name:'EditSubParameter' ,params:{id: subparameter.id}}" 
                          class="btn btn-xs btn-default"
                        >
                          Edit
                        </router-link>
                        <button 
                          class="btn btn-xs btn-danger" 
                          v-on:click="konfirmasiHapus(subparameter.id,index,subparameter.subparameter)"
                        >
                          Hapus
                        </button>
                        </td>
                      </tr>
                    </tbody>
                    </table>
                    <vue-pagination 
                      :data="subparameterData" 
                      v-on:pagination-change-page="getResults"
                      :limit="4"
                    >
                    </vue-pagination>
                    <vue-simple-spinner v-if="loading" message="Loading..."></vue-simple-spinner>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        subparameter: [],
        subparameterData: {},
        url: window.location.origin + (window.location.pathname).replace("home","subparameter"),
        pencarian: '',
        loading: true
      }
    },
    mounted()  {
     var app = this;
    app.getResults();
    },
    watch: {
       pencarian: function(newSearch){
         this.getHasilPencarian();
       }  
    },
    methods: {
      getResults(page){
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/view?page=' + page)
        .then(function(resp){
          app.subparameter = resp.data.data;
          console.log(app.subparameter);
          app.subparameterData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;
         
        })
      },
      getHasilPencarian(page){
          
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/search?q='+app.pencarian+'&page=' + page)
        .then(function(resp){
          app.subparameter = resp.data.data;
          app.subparameterData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;
         
        })
      },
      deleteEntry(id,index,subparameterSubParameter){
          axios.delete(this.url + '/' + id)
          .then((resp) => {
            this.getResults();
            this.alert("Berhasil Menghapus","Berhasil Menghapus Sub Parameter " + subparameterSubParameter);
          })
          .catch((resp) =>{
            alert("Something Goes Wrong")
            console.log(resp);
          })
      },
      konfirmasiHapus(id,index,subparameterSubParameter){
      
        this.$swal({
          title: "Yakin Ingin Menghapus Sub Parameter " + subparameterSubParameter + "?",
          text: "Data yang di hapus tidak akan bisa di kembalikan lagi",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            this.deleteEntry(id,index,subparameterSubParameter);
          }
        })  
      },
      alert(title,pesan){
        this.$swal({
          title: title,
          text: pesan,
          icon: "success"
        });
      }
    }
  }

</script>
