<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li>Home</li>
              <li><router-link :to="{name: 'IndexSubParameter'}">Kelola Sub Parameter</router-link></li>
              <li class="active">Edit Sub Parameter</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Edit Sub Parameter</div>

                <div class="panel-body">
                    <form v-on:submit.prevent="saveForm()" class="form-horizontal" >
                      <div class="form-group" style="display:none">
                        <label for="name" class="col-md-2 control-label">Nama Dosen</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Nama Dosen"
                            v-model="dosen" autofocus="" />
                          <span v-if="errors.dosen" class="label label-danger"> {{ errors.dosen[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Parameter</label>
                        <div class="col-md-4">
                        <vue-selectize v-model="subparameter.id_parameter" class="form-control" required="" >
                            <option v-for="parameter in parameter" v-if="parameter.id_dosen==dosen" :value="parameter.id">{{ parameter.parameter}}</option>
                            <option v-else value="">Pilih Parameter</option>
                          </vue-selectize>
                        <span v-if="errors.id_parameter" class="label label-danger"> {{ errors.id_parameter[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Sub Parameter</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Sub Parameter" v-model="subparameter.subparameter" autofocus=""/>
                        <span v-if="errors.subparameter" class="label label-danger"> {{ errors.subparameter[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Prosentase </label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Prosentase Sub Parameter" v-model="subparameter.prosentase" />
                        <span v-if="errors.prosentase" class="label label-danger"> {{ errors.prosentase[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        subparameter: {
          id_parameter: '',
          subparameter: '',
          prosentase: ''
        },
        dosen:[],
        parameter: [],
        // parameter: [],
        subparameterId : null,
        url: window.location.origin + (window.location.pathname).replace("home","subparameter"),
        errors: [],
        message: ''
      }
    },
    mounted()  {
     var app = this, app1=this;
     app.getEditingData();
     app.getParameter();
      app1.getDosen();
    },
    methods: {
      getParameter(){ 
        var app = this;
        axios.get(app.url.replace("subparameter","parameter") + '/all')
        .then(function(resp){
          app.parameter = resp.data;
        })
        .catch(function(resp){
          console.log(resp); 
        })
      },
      alert(pesan){
        this.$swal({
          title: "Berhasil Mengubah Sub Parameter",
          text: pesan,
          icon: "success"
        });
      },
      getEditingData(){
         var app = this;
         this.subparameterId = this.$route.params.id;
         axios.get(app.url+'/'+this.subparameterId+ '/edit')
         .then((resp) => {
           this.subparameter =  resp.data[0];
          //  console.log(this.subparameter);
         })
         .catch((resp) => {
            alert("Something Goes Wrong");    
         });
      },
      getDosen(){
        var app = this;
            axios.get(app.url.replace("subparameter", "dosen") + '/dosenParam')
                .then(function (resp) {
                    app.dosen = resp.data.id;
                    console.log(app.dosen);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
      },
      saveForm(){
        var newSubParameter = this.subparameter;
        axios.patch(this.url + '/' + this.subparameterId, newSubParameter)
        .then((resp) => {
          this.alert('Berhasil Mengubah Sub Parameter : ' + this.subparameter.subparameter );
          this.$router.replace('/subparameter/');
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
          console.log(resp);
        });
      }
    }
  }

</script>
