<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li>Home</li>
              <li><router-link :to="{name: 'IndexSubParameter'}">Kelola Sub Parameter</router-link></li>
              <li class="active">Tambah Sub Parameter</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Tambah Sub Parameter</div>

                <div class="panel-body">
                    <form v-on:submit.prevent="saveForm()" class="form-horizontal" >
                      <div class="form-group">
                          <label for="name" class="col-md-2 control-label">Mata Kuliah</label>
                          <div class="col-md-4">
                              <vue-selectize v-model="mata_kuliah.id_matkul" class="form-control" required="">
                                  <option v-for="mata_kuliahh in matkul" v-if="mata_kuliahh.id_dosen==dosenn" :value="mata_kuliahh.id">
                                      {{ mata_kuliahh.mata_kuliah}}</option>
                                      <option v-else value="">-Pilih MK-</option>
                              </vue-selectize>
                              <span v-if="errors.mata_kuliah" class="label label-danger">
                                  {{ errors.mata_kuliah[0]}}</span>
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Ke Akun</label>
                        <div class="col-md-4">
                        <vue-selectize v-model="subparameter.id_parameter" class="form-control" required="" >
                            <option v-for="parameters in param" v-if="mata_kuliah.id_matkul==parameters.id_mata_kuliah" :value="parameters.id">{{ parameters.parameter}}</option>
                            <option v-else value="">Pilih Parameter</option>
                          </vue-selectize>
                        <span v-if="errors.id_parameter" class="label label-danger"> {{ errors.id_parameter[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Sub Parameter</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Sub Parameter" v-model="subparameter.subparameter" autofocus=""/>
                        <span v-if="errors.subparameter" class="label label-danger"> {{ errors.subparameter[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Prosentase</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Prosentase" v-model="subparameter.prosentase" />
                        <span v-if="errors.prosentase" class="label label-danger"> {{ errors.prosentase[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        subparameter: {
          id_parameter: '',
          subparameter: '',
          prosentase: ''
        },mata_kuliah:{
          id_matkul:'',
        },
        parameters: [],
        param: [],
        mata_kuliahh:[],
        matkul:[],
        dosenn:[],
        url: window.location.origin + (window.location.pathname).replace("home","subparameter"),
        errors: [],
        message: ''
      }
    },
    mounted()  {
     var app = this;
     var app1 = this;
     var app2 = this;
     app.getParameters();
     app1.getMatkul();
     app2.getDosen();
    },
    methods: {
      alert(pesan){
        this.$swal({
          title: "Berhasil Menambah Sub Parameter",
          text: pesan,
          icon: "success"
        });
      },
      saveForm(){
        var newSubParameter = this.subparameter;
        axios.post(this.url,newSubParameter)
        .then((resp) => {
          this.alert('Berhasil Menambah Sub Parameter : ' + this.subparameter.subparameter );
          this.$router.replace('/subparameter/');
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
          console.log(resp);
        });
      },
      getParameters(){ 
        var app = this;
        axios.get(app.url.replace("subparameter","parameter") + '/all')
        .then(function(resp){
          app.param = resp.data;
          console.log(app.param);
        })
        .catch(function(resp){
          console.log(resp); 
        })
        .catch(function(resp){
          console.log(resp); 
        })
      },
      getMatkul(){
        var app = this;
            axios.get(app.url.replace("subparameter", "mata-kuliah") + '/all')
                .then(function (resp) {
                    app.matkul = resp.data;
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
      },
      getDosen(){
        var app = this;
            axios.get(app.url.replace("subparameter", "dosen") + '/matkul')
                .then(function (resp) {
                    app.dosenn = resp.data.id;
                    console.log(app.dosenn);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
      },
    }
  }

</script>
