<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li>Home</li>
              <li><router-link :to="{name: 'IndexFakultas'}">Kelola Fakultas</router-link></li>
              <li class="active">Tambah Fakultas</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Tambah Fakultas</div>

                <div class="panel-body">
                    <form v-on:submit.prevent="saveForm()" class="form-horizontal" >
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Kode</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Kode Fakultas" v-model="fakultass.kode_fak" autofocus=""/>
                        <span v-if="errors.kode_fak" class="label label-danger"> {{ errors.kode_fak[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Fakultas</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Nama Fakultas" v-model="fakultass.fakultas" autofocus=""/>
                        <span v-if="errors.fakultas" class="label label-danger"> {{ errors.fakultas[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        fakultass: {
          kode_fak: '',
          fakultas: ''
        },
        url: window.location.origin + (window.location.pathname).replace("home","fakultas"),
        errors: [],
        message: ''
      }
    },
    mounted()  {
     var app = this;
    },
    methods: {
      alert(pesan){
        this.$swal({
          title: "Berhasil Menambah Fakultas",
          text: pesan,
          icon: "success"
        });
      },
      saveForm(){
        console.log(this.fakultass);
        var newFakultas = this.fakultass;
        axios.post(this.url,newFakultas)
        .then((resp) => {
          this.alert('Berhasil Menambah Fakultas : ' + this.fakultass.fakultas );
          this.$router.replace('/fakultas/');
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
          console.log(resp);
        });
      }
    }
  }

</script>
