<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li><router-link :to="{name: 'IndexDashboard'}">Home</router-link></li>
              <li class="active">Jurusan</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Jurusan</div>

                <div class="panel-body">
                    <router-link 
                      :to="{name: 'CreateJurusan'}" 
                      class="btn btn-md btn-primary"> 
                        Tambah Jurusan
                    </router-link>
                    <br/>
                    <div class="table-responsive">
                    
                    <div align="right">
                    <input type="text" placeholder="Pencarian ..." v-bind:style="{width: '20%' }" v-model="pencarian" class="form-control" />
                    </div>
                    <br/>
                    <table class="table table-bordered" >
                    <thead>
                        <th>Kode Jurusan</th>
                        <th>Fakultas</th>
                        <th>Jurusan</th>
                        <th>Aksi</th>
                    </thead>
                    <tbody v-if="jurusan.length">
                      <tr v-for="jurusan,index in jurusan">
                        <td>{{ jurusan.kode}}</td>
                        <td>{{ jurusan.fakultas}}</td>
                        <td>{{ jurusan.jurusan}}</td>
                        <td >
                        <router-link 
                          :to="{name:'EditJurusan' ,params:{id: jurusan.id}}" 
                          class="btn btn-xs btn-default"
                        >
                          Edit
                        </router-link>
                        <button 
                          class="btn btn-xs btn-danger" 
                          v-on:click="konfirmasiHapus(jurusan.id,index,jurusan.jurusan)"
                        >
                          Hapus
                        </button>
                        </td>
                      </tr>
                    </tbody>
                    </table>
                    <vue-pagination 
                      :data="jurusanData" 
                      v-on:pagination-change-page="getResults"
                      :limit="4"
                    >
                    </vue-pagination>
                    <vue-simple-spinner v-if="loading" message="Loading..."></vue-simple-spinner>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        jurusan: [],
        jurusanData: {},
        url: window.location.origin + (window.location.pathname).replace("home","jurusan"),
        pencarian: '',
        loading: true
      }
    },
    mounted()  {
     var app = this;
    app.getResults();
    },
    watch: {
       pencarian: function(newSearch){
         this.getHasilPencarian();
       }  
    },
    methods: {
      getResults(page){
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/view?page=' + page)
        .then(function(resp){
          app.jurusan = resp.data.data;
          app.jurusanData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;
         
        })
      },
      getHasilPencarian(page){
          
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/search?q='+app.pencarian+'&page=' + page)
        .then(function(resp){
          app.jurusan = resp.data.data;
          app.jurusanData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;
         
        })
      },
      deleteEntry(id,index,jurusanJurusan){
          axios.delete(this.url + '/' + id)
          .then((resp) => {
            this.getResults();
            this.alert("Berhasil Menghapus","Berhasil Menghapus Jurusan " + jurusanJurusan);
          })
          .catch((resp) =>{
            alert("Something Goes Wrong")
            console.log(resp);
          })
      },
      konfirmasiHapus(id,index,jurusanJurusan){
      
        this.$swal({
          title: "Yakin Ingin Menghapus Jurusan " + jurusanJurusan + "?",
          text: "Data yang di hapus tidak akan bisa di kembalikan lagi",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            this.deleteEntry(id,index,jurusanJurusan);
          }
        })  
      },
      alert(title,pesan){
        this.$swal({
          title: title,
          text: pesan,
          icon: "success"
        });
      }
    }
  }

</script>
