<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li>Home</li>
              <li><router-link :to="{name: 'IndexJurusan'}">Kelola Jurusan</router-link></li>
              <li class="active">Edit Jurusan</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Edit Jurusan</div>

                <div class="panel-body">
                    <form v-on:submit.prevent="saveForm()" class="form-horizontal" >
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Fakultas</label>
                        <div class="col-md-4">
                        <vue-selectize v-model="jurusan.id_fakultas" class="form-control" required="" >
                            <option value="">Pilih Fakultas</option>
                            <option v-for="fakultas in fakultas" :value="fakultas.id">{{ fakultas.fakultas}}</option>
                          </vue-selectize>
                        <span v-if="errors.id_fakultas" class="label label-danger"> {{ errors.id_fakultas[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Kode Jurusan</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Kode Jurusan" v-model="jurusan.kode" />
                        <span v-if="errors.kode" class="label label-danger"> {{ errors.kode[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Jurusan</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Jurusan" v-model="jurusan.jurusan" autofocus=""/>
                        <span v-if="errors.jurusan" class="label label-danger"> {{ errors.jurusan[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        jurusan: {
          id_fakultas: '',
          jurusan: '',
          kode: ''
        },
        fakultas: [],
        fakultas: [],
        jurusanId : null,
        url: window.location.origin + (window.location.pathname).replace("home","jurusan"),
        errors: [],
        message: ''
      }
    },
    mounted()  {
     var app = this;
     app.getEditingData();
     app.getFakultas();
    },
    methods: {
      getFakultas(){ 
        var app = this;
        axios.get(app.url.replace("jurusan","fakultas") + '/all?kas=1')
        .then(function(resp){
          app.fakultas = resp.data;
        })
        .catch(function(resp){
          console.log(resp); 
        })
        axios.get(app.url.replace("jurusan","fakultas") + '/all')
        .then(function(resp){
          app.fakultas = resp.data;
        })
        .catch(function(resp){
          console.log(resp); 
        })
      },
      alert(pesan){
        this.$swal({
          title: "Berhasil Mengubah Kas Masuk",
          text: pesan,
          icon: "success"
        });
      },
      getEditingData(){
         var app = this;
         this.jurusanId = this.$route.params.id;
         axios.get(app.url+'/'+this.jurusanId+ '/edit')
         .then((resp) => {
           this.jurusan =  resp.data[0];
         })
         .catch((resp) => {
            alert("Something Goes Wrong");    
         });
      },
      saveForm(){
        var newJurusan = this.jurusan;
        axios.patch(this.url + '/' + this.jurusanId, newJurusan)
        .then((resp) => {
          this.alert('Berhasil Mengubah Jurusan : ' + this.jurusan.jurusan );
          this.$router.replace('/jurusan/');
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
          console.log(resp);
        });
      }
    }
  }

</script>
