<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li>Home</li>
              <li><router-link :to="{name: 'IndexParameter'}">Kelola Parameter</router-link></li>
              <li class="active">Tambah Parameter</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Tambah Parameter</div>

                <div class="panel-body">
                    <form v-on:submit.prevent="saveForm()" class="form-horizontal" >
                      <div class="form-group" style="display:none;">
                          <label for="name" class="col-md-2 control-label">Nama Dosen</label>
                          <div class="col-md-4">
                              <input type="text" class="form-control" required="" placeholder="Nama Dosen"
                                  v-model="parameters.id_dosen" autofocus="" />
                              <span v-if="errors.id_dosen" class="label label-danger"> {{ errors.id_dosen[0]}}</span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="name" class="col-md-2 control-label">Mata Kuliah</label>
                          <div class="col-md-4">
                              <vue-selectize v-model="parameters.id_matkul" class="form-control" required="">
                                  <option v-for="mata_kuliahh in matkul" v-if="mata_kuliahh.id_dosen==parameters.id_dosen" :value="mata_kuliahh.id">
                                      {{ mata_kuliahh.mata_kuliah}}</option>
                                      <option v-else value="">-Pilih MK-</option>
                              </vue-selectize>
                              <span v-if="errors.mata_kuliah" class="label label-danger">
                                  {{ errors.mata_kuliah[0]}}</span>
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Parameter</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Nama Parameter" v-model="parameters.parameter" autofocus=""/>
                        <span v-if="errors.parameter" class="label label-danger"> {{ errors.parameter[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Prosentase</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Prosentase Parameter" v-model="parameters.prosentase" autofocus=""/>
                        <span v-if="errors.prosentase" class="label label-danger"> {{ errors.prosentase[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        parameters: {
          id_dosen:'',
          id_matkul:'',
          prosentase: '',
          parameter: '',
          id_jurusan:'',
        },
        dosen:{
          id:'',
        },
        mata_kuliah:{
          id:'',
          mata_kuliah:'',
        },
        dosen:{
          id:'',
        },
        mata_kuliah:{
          id:'',
          mata_kuliah:'',
        },
        mata_kuliahh:[],
        matkul:[],
        dosen:[],
        url: window.location.origin + (window.location.pathname).replace("home","parameter"),
        errors: [],
        message: '',
    }},
    mounted()  {
     var app1 = this,app2 = this,app3 = this;
     app1.getDosen();
     app2.getMatkul();
    },
    methods: {
      alert(pesan){
        this.$swal({
          title: "Berhasil Menambah Parameter",
          text: pesan,
          icon: "success"
        });
      },
      saveForm(){
        console.log(this.parameters);
        var newParameter = this.parameters;
        var newDosen = this.dosen;
        var newMataKuliah = this.mata_kuliah;
        axios.post(this.url,newParameter)
        .then((resp) => {
          console.log(resp);
          this.alert('Berhasil Menambah Parameter : ' + this.parameters.parameter );
          this.$router.replace('/parameter/');
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
          console.log(resp);
        });
      },

      getDosen(){
        var app = this;
            axios.get(app.url.replace("parameter", "dosen") + '/matkul')
                .then(function (resp) {
                    app.parameters.id_dosen = resp.data.id;
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
      },
      getMatkul(){
        var app = this;
            axios.get(app.url.replace("parameter", "mata-kuliah") + '/all')
                .then(function (resp) {
                    app.matkul = resp.data;
                    // app.parameters.id_jurusan = resp.data.id_jurusan;
                    // console.log(resp.data.id_jurusan);
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
      },
      getJurusann() {
                var app = this;
                axios.get(app.url.replace("parameter", "jurusan") + '/all')
                    .then(function (resp) {
                        app.jur = resp.data;
                        console.log(app.jur);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
            }
      }
    }
  

</script>
