<template>
  <div class="container">
    <div class="row">
      <div>
        <ul class="breadcrumb">
          <li>Home</li>
          <li>
            <router-link :to="{name: 'IndexParameter'}">Kelola Parameter</router-link>
          </li>
          <li class="active">Edit Parameter</li>
        </ul>
        <div class="panel panel-default">
          <div class="panel-heading">Edit Parameter</div>

          <div class="panel-body">
            <form v-on:submit.prevent="saveForm()" class="form-horizontal">
              <div class="form-group" style="display:none">
                <label for="name" class="col-md-2 control-label">Nama Dosen</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" required="" placeholder="Nama Dosen"
                    v-model="dosen.id" autofocus="" />
                  <span v-if="errors.id" class="label label-danger"> {{ errors.id[0]}}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-md-2 control-label">Mata Kuliah</label>
                <div class="col-md-4">
                  <vue-selectize v-model="parameter.id_mata_kuliah" class="form-control" required="">
                    <option v-for="mata_kuliahh in matkul" v-if="mata_kuliahh.id_dosen==dosen.id"
                      :value="mata_kuliahh.id">
                      {{ mata_kuliahh.mata_kuliah}}</option>
                    <option v-else value="">-Pilih MK-</option>

                  </vue-selectize>
                  <span v-if="errors.mata_kuliah" class="label label-danger">
                    {{ errors.mata_kuliah[0]}}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-md-2 control-label">Jurusan</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" required="" placeholder="Nama Parameter"
                    v-model="parameter.jurusan" autofocus="" disabled />
                  <span v-if="errors.jurusan" class="label label-danger"> {{ errors.jurusan[0]}}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-md-2 control-label">Parameter</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" required="" placeholder="Nama Parameter"
                    v-model="parameter.parameter" autofocus="" />
                  <span v-if="errors.parameter" class="label label-danger"> {{ errors.parameter[0]}}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-md-2 control-label">Prosentase</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" required="" placeholder="Prosentase Parameter"
                    v-model="parameter.prosentase" autofocus="" />
                  <span v-if="errors.prosentase" class="label label-danger"> {{ errors.prosentase[0]}}</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
  export default {
    data: function () {
      return {
        parameter: {
          prosentase: '',
          parameter: '',
          id_mata_kuliah: '',
          id_dosen:''
        },
        dosen:{
          id:'',
        },
        mata_kuliah:{
          id:'',
          mata_kuliah:'',
        },
        mata_kuliahh:[],
        matkul:[],
        parameterId: null,
        url: window.location.origin + (window.location.pathname).replace("home", "parameter"),
        errors: [],
        message: ''
      }
    },
    mounted() {
      var app = this;
      var app1 = this,app2 = this,app3 = this;
     app1.getDosen();
     app2.getMatkul();
      this.parameterId = this.$route.params.id;
      axios.get(app.url + '/' + this.parameterId + '/edit')
        .then((resp) => {
          this.parameter = resp.data[0];
          console.log(this.parameter);
        })
        .catch((resp) => {
          alert("Something Goes Wrong");
        });

    },
    methods: {
      alert(pesan) {
        this.$swal({
          title: "Berhasil Mengubah Parameter",
          text: pesan,
          icon: "success"
        });
      },
      getDosen(){
        var app = this;
            axios.get(app.url.replace("parameter", "dosen") + '/matkul')
                .then(function (resp) {
                    app.dosen.id = resp.data.id;
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
      },
      getMatkul(){
        var app = this;
            axios.get(app.url.replace("parameter", "mata-kuliah") + '/all')
                .then(function (resp) {
                    app.matkul = resp.data;
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                })
      },
      saveForm() {
        var newParameter = this.parameter;
        axios.patch(this.url + '/' + this.parameterId, newParameter)
          .then((resp) => {
            this.alert('Berhasil Mengubah Parameter ' + this.parameter.parameter);
            this.$router.replace('/parameter/');
          })
          .catch((resp) => {
            if (resp.response.status == 500) alert('Something Goes Wrong');
            this.errors = resp.response.data.errors;
            console.log(resp);
          });
      }
    }
  }
</script>