<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li><router-link :to="{name: 'IndexDashboard'}">Home</router-link></li>
              <li class="active">Kelola Parameter</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Kelola Parameter</div>

                <div class="panel-body">

                    <router-link 
                      :to="{name: 'CreateParameter'}" 
                      class="btn btn-md btn-primary"> 
                        Tambah Parameter
                    </router-link>
                    <div class="table-responsive">
                    
                    <div align="right">
                   Pencarian 
                    <input type="text" v-bind:style="{width: '20%' }" v-model="pencarian" class="form-control" />
                    </div>
                    <table class="table table-bordered" >
                    <thead>
                        <th>Mata Kuliah</th>
                        <th>Jurusan</th>
                        <th>Nama Parameter</th>
                        <th>Prosentase Parameter</th>
                        <th>Aksi</th>
                    </thead>
                    <tbody v-if="parameter.length">
                      <tr v-for="parameter,index in parameter">
                        <td>{{ parameter.mata_kuliah}}</td>
                        <td>{{ parameter.jurusan}}</td>
                        <td>{{ parameter.parameter}}</td>
                        <td>{{ parameter.prosentase}}</td>
                        <td>
                        <router-link 
                          :to="{name:'EditParameter' ,params:{id: parameter.id}}" 
                          class="btn btn-xs btn-default"
                       >
                          Edit
                       </router-link>
                        <button 
                          class="btn btn-xs btn-danger" 
                          v-on:click="konfirmasiHapus(parameter.id,index,parameter.parameter)"
                        >
                          Hapus
                        </button>
                        </td>
                      </tr>
                    </tbody>
                    </table>
                    <vue-pagination
                      :data="parameterData"
                      v-on:pagination-change-page="getResults"
                      :limit="4"
                    >
                    </vue-pagination>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        parameter: [],
        parameterData: {},
        url: window.location.origin + (window.location.pathname).replace("home","parameter"),
        pencarian: '',
        loading: true
      }
    },
    mounted()  {
     var app = this;
    app.getResults();
    },
    watch: {
       pencarian: function(newSearch){
         this.getHasilPencarian();
       }  
    },
    methods: {
      getResults(page){
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/view?page=' + page)
        .then(function(resp){
          app.parameter = resp.data.data;
          app.parameterData = resp.data;
          console.log(app.parameter);
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;
         
        })
      },
      getHasilPencarian(page){
          
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/search?q='+app.pencarian+'&page=' + page)
        .then(function(resp){
          app.parameter = resp.data.data;
          app.parameterData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;
         
        })
      },
      deleteEntry(id,index,parameterParameter){
          axios.delete(this.url + '/' + id)
          .then((resp) => {
            this.getResults();
            this.alert("Berhasil Menghapus","Berhasil Menghapus Parameter " + parameterParameter);
          })
          .catch((resp) =>{
            alert("Something Goes Wrong")
            console.log(resp);
          })
      },
      konfirmasiHapus(id,index,parameterParameter){
      
        this.$swal({
          title: "Yakin Ingin Menghapus Parameter " + parameterParameter + "?",
          text: "Data yang di hapus tidak akan bisa di kembalikan lagi",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            this.deleteEntry(id,index,parameterParameter);
          }
        })  
      },
      alert(title,pesan){
        this.$swal({
          title: title,
          text: pesan,
          icon: "success"
        });
      }
    }
  }

</script>
