<template>
    <div class="container">
        <div class="row">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <router-link :to="{name: 'IndexDashboard'}">Home</router-link>
                    </li>
                    <li class="active">Ubah Password</li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">Ubah Password</div>

                    <div class="panel-body">
                        <form v-on:submit.prevent="saveForm()" class="form-horizontal">
                            <div class="form-group" style="display:none">
                                <label for="name" class="col-md-3 control-label">Id User</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required="" v-model="password.id_user"
                                        placeholder="Nama Dosen" autofocus="" />
                                </div>
                            </div>
                            <div class="form-group" style="">
                                <label for="name" class="col-md-3 control-label">Password Lama</label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" required=""
                                        v-model="password.password_lama" placeholder="Password Lama" autofocus="" />
                                    <span v-if="errors.password_lama" class="label label-danger"> {{ errors.password_lama[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group" style="">
                                <label for="name" class="col-md-3 control-label">Password Baru</label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" required=""
                                        v-model="password.password_baru" placeholder="Password Baru" autofocus="" />
                                    <span v-if="errors.password_baru" class="label label-danger"> {{ errors.password_baru[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group" style="">
                                <label for="name" class="col-md-3 control-label">Konfirmasi Password</label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" required=""
                                        v-model="password.konfirmasi_password" placeholder="Konfirmasi Password"
                                        autofocus="" />
                                    <span v-if="errors.konfirmasi_password" class="label label-danger"> {{ errors.konfirmasi_password[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-3">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        data: function () {
            return {
                password: {
                    id_user: '',
                    password_lama: '',
                    password_baru: '',
                    konfirmasi_password: ''
                },
                user: [],
                // fakultasData: {},
                url: window.location.origin + (window.location.pathname).replace("home", "password/ubah"),
                pencarian: '',
                errors: [],
                message: '',
                loading: true
            }
        },
        mounted() {
            var app = this;
            app.getUser();
        },
        methods: {
            getUser() {
                axios.get('password/cari')
                    .then((resp) => {
                        this.password.id_user = resp.data.id;
                        console.log(this.password.id_user);
                    })
                    .catch((resp) => {
                        alert("Something Goes Wrong");
                    });

            },
            saveForm() {
                var newPassword = this.password;
                axios.patch('ubah/password/'+ newPassword.id_user, newPassword)
                .then((resp) => {
                    console.log(resp.data);
                    this.alert('Berhasil Mengubah Password ');
                    this.$router.replace('/');
                })
                .catch((resp) => {
                    if (resp.response.status == 500) alert('Something Goes Wrong');
                    this.errors = resp.response.data.errors;
                    console.log(resp);
                });
            },
            alert(title, pesan) {
                this.$swal({
                    title: title,
                    text: pesan,
                    icon: "success"
                });
            }
        }
    }
</script>