<template>

<div class="container">
    <div class="row">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">Dashboard</div>

                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>

</template>
