<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li><router-link :to="{name: 'IndexDosen'}">Home</router-link></li>
              <li class="active">Kelola Dosen</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Kelola Dosen</div>

                <div class="panel-body">

                    <router-link 
                      :to="{name: 'CreateDosen'}" 
                      class="btn btn-md btn-primary"> 
                        Tambah Dosen
                    </router-link>
                    <div class="table-responsive">
                    
                    <div align="right">
                   Pencarian 
                    <input type="text" v-bind:style="{width: '20%' }" v-model="pencarian" class="form-control" />
                    </div>
                    <table class="table table-bordered" >
                    <thead>
                        <th>NIDN</th>
                        <th>Nama</th>
                        <th>Tahun Ajaran</th>
                        <th>Fakultas</th>
                        <th>jurusan</th>
                        <th>No WhatsApp</th>
                        <th>Alamat</th>
                        <th>Aksi</th>
                    </thead>
                    <tbody v-if="dosen.length">
                      <tr v-for="dosen,index in dosen">
                        <td>{{ dosen.nidn}}</td>
                        <td>{{ dosen.nama}}</td>
                        <td>{{ dosen.tahun_ajaran}}</td>
                        <td>{{ dosen.fakultas}}</td>
                        <td>{{ dosen.jurusan}}</td>
                        <td>{{ dosen.no_wa}}</td>
                        <td>{{ dosen.alamat}}</td>
                        <td>
                        <router-link :to="{name:'EditDosen' ,params:{id: dosen.id}}"
                                            class="btn btn-xs btn-default">
                                            Edit
                                        </router-link>
                        <button 
                          class="btn btn-xs btn-danger" 
                          v-on:click="konfirmasiHapus(dosen.id,index,dosen.nama)"
                        >
                          Hapus
                        </button>
                        </td>
                      </tr>
                    </tbody>
                    </table>
                    <vue-pagination
                      :data="dosenData"
                      v-on:pagination-change-page="getResults"
                      :limit="4"
                    >
                    </vue-pagination>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        dosen: [],
        dosenData: {},
        url: window.location.origin + (window.location.pathname).replace("home","dosen"),
        pencarian: '',
        loading: true
      }
    },
    mounted()  {
     var app = this;
    app.getResults();
    },
    watch: {
       pencarian: function(newSearch){
         this.getHasilPencarian();
       }  
    },
    methods: {
      getResults(page){
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/view?page=' + page)
        .then(function(resp){
          app.dosen = resp.data.data;
          app.dosenData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;
         
        })
      },
      getHasilPencarian(page){
          
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/search?q='+app.pencarian+'&page=' + page)
        .then(function(resp){
          app.dosen = resp.data.data;
          app.dosenData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;
         
        })
      },
      deleteEntry(id,index,dosenDosen){
          axios.delete(this.url + '/' + id)
          .then((resp) => {
            this.getResults();
            this.alert("Berhasil Menghapus","Berhasil Menghapus Dosen " + dosenDosen);
          })
          .catch((resp) =>{
            alert("Something Goes Wrong")
            console.log(resp);
          })
      },
      konfirmasiHapus(id,index,dosenDosen){
      
        this.$swal({
          title: "Yakin Ingin Menghapus Dosen " + dosenDosen + "?",
          text: "Data yang di hapus tidak akan bisa di kembalikan lagi",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            this.deleteEntry(id,index,dosenDosen);
          }
        })  
      },
      alert(title,pesan){
        this.$swal({
          title: title,
          text: pesan,
          icon: "success"
        });
      }
    }
  }

</script>
