<template>
    <div class="container">
        <div class="row">
            <div>
                <ul class="breadcrumb">
                    <li>Home</li>
                    <li>
                        <router-link :to="{name: 'IndexDosen'}">Kelola Dosen</router-link>
                    </li>
                    <li class="active">Edit Dosen</li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">Edit Dosen</div>

                    <div class="panel-body">
                        <form v-on:submit.prevent="saveForm()" class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">NIDN Dosen</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required="" placeholder="NIDN Dosen"
                                        v-model="dosen.nidn" autofocus="" />
                                    <span v-if="errors.nidn" class="label label-danger"> {{ errors.nidn[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Nama</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required="" placeholder="Nama Dosen"
                                        v-model="dosen.nama" autofocus="" />
                                    <span v-if="errors.nama" class="label label-danger"> {{ errors.nama[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Tahun Ajaran</label>
                                <div class="col-md-4">
                                    <vue-selectize v-model="dosen.id_tahun_ajaran" class="form-control" required="">
                                    <option value="">-Pilih Tahun Ajaran-</option>
                                        <option v-for="tahun_ajarann in tajar":value="tahun_ajarann.id">
                                            {{ tahun_ajarann.tahun_ajaran}}</option>
                                        </select>
                                    </vue-selectize>
                                        <span v-if="errors.tahun_ajaran" class="label label-danger">
                                            {{ errors.tahun_ajaran[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Fakultas</label>
                                <div class="col-md-4">
                                    <vue-selectize v-model="dosen.id_fakultas" class="form-control" required="">
                                        <option value="">-Pilih Fakultas-</option>
                                        <option v-for="fakultass in fak" :value="fakultass.id">
                                            {{ fakultass.fakultas}}</option>
                                    </vue-selectize>
                                    <span v-if="errors.fakultas" class="label label-danger">
                                        {{ errors.fakultas[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Jurusan</label>
                                <div class="col-md-4">
                                    <vue-selectize v-model="dosen.id_jurusan" class="form-control" required="">
                                        <option v-for="jurusann in jur" v-if="dosen.id_fakultas==jurusann.id_fakultas" :value="jurusann.id">
                                            {{ jurusann.jurusan}}</option>
                                        <option v-else value="">-Pilih Jurusan-</option>
                                    </vue-selectize>
                                    <span v-if="errors.jurusan" class="label label-danger">
                                        {{ errors.jurusan[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Email</label>
                                <div class="col-md-4">
                                    <input type="email" class="form-control" required=""
                                        placeholder="example@example.com" v-model="dosen.email" autofocus="" />
                                    <span v-if="errors.email" class="label label-danger"> {{ errors.email[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Nomor WhatsApp</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required="" placeholder="Nomor WhatsApp"
                                        v-model="dosen.no_wa" autofocus="" />
                                    <span v-if="errors.no_wa" class="label label-danger"> {{ errors.no_wa[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Alamat</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required="" placeholder="Alamat"
                                        v-model="dosen.alamat" autofocus="" />
                                    <span v-if="errors.alamat" class="label label-danger"> {{ errors.alamat[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-3">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                dosen: {
                    nidn: '',
                    nama: '',
                    id_tahun_ajaran: '',
                    id_fakultas: '',
                    id_jurusan: '',
                    email: '',
                    no_wa: '',
                    alamat: ''
                },
                tahun_ajarann: [],
                tajar: [],
                fakultass:[],
                fak:[],
                jurusann:[],
                jur:[],
                url: window.location.origin + (window.location.pathname).replace("home", "dosen"),
                errors: [],
                message: ''
            }
        },
        mounted() {
            var app1 = this, app2 = this, app3 = this;
            var app = this;
            this.dosenId = this.$route.params.id;
            axios.get(app.url + '/' + this.dosenId + '/edit')
                .then((resp) => {
                    console.log(resp);
                    this.dosen = resp.data[0];
                })
                .catch((resp) => {
                    alert("Something Goes Wrong");
                });
            app1.getTahun_ajarann();
            app2.getFakultass();
            app3.getJurusann();

            
        },
        methods: {
            alert(pesan) {
                this.$swal({
                    title: "Berhasil Menambah Dosen",
                    text: pesan,
                    icon: "success"
                });
            },
            saveForm() {
                var newDosen= this.dosen;
                console.log(newDosen.nama);
                axios.patch(this.url+'/'+ this.dosenId, newDosen)
                    .then((resp) => {
                        console.log(resp);
                        this.alert('Berhasil Mengubah Dosen : ' + this.dosen.nama);
                        this.$router.replace('/dosen/');
                    })
                    .catch((resp) => {
                        if (resp.response.status == 500) alert('Something Goes Wrong');
                        this.errors = resp.response.data.errors;
                        console.log(resp);
                    });
            },
            getTahun_ajarann() {
                var app = this;
                axios.get(app.url.replace("dosen", "tahun-ajaran") + '/all')
                    .then(function (resp) {
                        app.tajar = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
            },
            getFakultass() {
                var app = this;
                axios.get(app.url.replace("dosen", "fakultas") + '/all')
                    .then(function (resp) {
                        app.fak = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
            },
            getJurusann() {
                var app = this;
                axios.get(app.url.replace("dosen", "jurusan") + '/all')
                    .then(function (resp) {
                        app.jur = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
            }
        }
    }
</script>
