<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li>Home</li>
              <li><router-link :to="{name: 'IndexUser'}">Kelola Dosen</router-link></li>
              <li class="active">Tambah Dosen</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Tambah Dosen</div>

                <div class="panel-body">
                    <form v-on:submit.prevent="saveForm()" class="form-horizontal" >
                      <div class="form-group">
                        <label for="name" class="col-md-3 control-label" >NIDN</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="NIDN" v-model="user.nidn" autofocus=""/>
                        <span v-if="errors.nidn" class="label label-danger"> {{ errors.nidn[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-3 control-label" >Nama Lengkap</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Nama Lengkap (dengan gelar)" v-model="user.nama" autofocus=""/>
                        <span v-if="errors.nama" class="label label-danger"> {{ errors.nama[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                          <label for="name" class="col-md-3 control-label">Institusi</label>
                          <div class="col-md-4">
                              <input type="text" class="form-control" required="" placeholder="Institusi" v-model="user.institusi" v-on:keyup="autoComplete" autofocus=""/>
                              <ul class="list-group" >
                                <li class="list-group-item" v-for="result in results">
                                 <a v-on:click="tempel( result.institusi,result.id )" style="text-decoration:none;color:black;cursor:pointer;"> {{ result.institusi }} </a>
                                </li>
                              </ul>
                              <span v-if="errors.instansi" class="label label-danger"> {{ errors.instansi[0]}}</span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="name" class="col-md-3 control-label">Tahun Ajaran</label>
                          <div class="col-md-4">
                              <vue-selectize v-model="user.id_tahun_ajaran" class="form-control" required="">
                              <option value="">-Pilih Tahun Ajaran-</option>
                                  <option v-for="tahun_ajarann in tajar":value="tahun_ajarann.id">
                                      {{ tahun_ajarann.tahun_ajaran}}</option>
                                  </select>
                              </vue-selectize>
                                  <span v-if="errors.tahun_ajaran" class="label label-danger">
                                      {{ errors.tahun_ajaran[0]}}</span>
                          </div>
                      </div>
                      <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Fakultas</label>
                                <div class="col-md-4">
                                    <vue-selectize v-model="user.id_fakultas" class="form-control" required="">
                                        <option value="">-Pilih Fakultas-</option>
                                        <option v-for="fakultass in fak" :value="fakultass.id">
                                            {{ fakultass.fakultas}}</option>
                                    </vue-selectize>
                                    <span v-if="errors.fakultas" class="label label-danger">
                                        {{ errors.fakultas[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Jurusan</label>
                                <div class="col-md-4">
                                    <vue-selectize v-model="user.id_jurusan" class="form-control" required="">
                                        <option v-for="jurusann in jur" v-if="user.id_fakultas==jurusann.id_fakultas" :value="jurusann.id">
                                            {{ jurusann.jurusan}}</option>
                                        <option v-else value="">-Pilih Jurusan-</option>
                                    </vue-selectize>
                                    <span v-if="errors.jurusan" class="label label-danger">
                                        {{ errors.jurusan[0]}}</span>
                                </div>
                            </div>
                      <div class="form-group">
                        <label for="name" class="col-md-3 control-label" >Email</label>
                        <div class="col-md-4">
                          <input type="email" class="form-control" required="" placeholder="Email User" v-model="user.email" autofocus=""/>
                        <span v-if="errors.email" class="label label-danger"> {{ errors.email[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-3 control-label" >Password</label>
                        <div class="col-md-4">
                          <input type="password" class="form-control" required="" placeholder="Password" v-model="user.password" autofocus=""/>
                        <span v-if="errors.password" class="label label-danger"> {{ errors.password[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-3 control-label" >No HP</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Nomor HP" v-model="user.no_hp" autofocus=""/>
                        <span v-if="errors.no_hp" class="label label-danger"> {{ errors.no_hp[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-3 control-label" >Alamat</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Alamat" v-model="user.alamat" autofocus=""/>
                        <span v-if="errors.alamat" class="label label-danger"> {{ errors.alamat[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-3">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        user: {
          nidn:'',
          nama: '',
          institusi:'',
          id_institusi:'',
          profesi:'',
          id_tahun_ajaran:'',
          id_fakultas: '',
          id_jurusan: '',
          email: '',
          no_hp:'',
          alamat:'',
        },
        tahun_ajarann: [],
        tajar: [],    
        fakultass:[],
        fak:[],
        jurusann:[],
        jur:[],
        results:[],
        url: window.location.origin + (window.location.pathname).replace("home","dosen"),
        errors: [],
        message: ''
      }
    },
    mounted()  {
     var app = this;
     var app1=this, app2 = this, app3 = this;
     app1.getTahun_ajarann();
            app2.getFakultass();
            app3.getJurusann();
    },
    methods: {
      alert(pesan){
        this.$swal({
          title: "Berhasil Menambah User",
          text: pesan,
          icon: "success"
        });
      },
      autoComplete(){
        let data = this.user;
        var app = this;
        axios.post(app.url.replace("dosen", "institusi/search"),data)
            .then(function (resp) {
                app.results = resp.data;
            })
            .catch(function (resp) {
                console.log(resp);
            })
            .catch(function (resp) {
                console.log(resp);
            })
      },
      tempel(data,id){
        let app1 = this, app2 = this, app3 = this;
        app1.user.institusi = data;
        app3.user.id_institusi=id;
        app2.results = null;
      },
      saveForm(){
        var newUser = this.user;
        axios.post(this.url,newUser)
        .then((resp) => {
          this.alert('Berhasil Menambah User ' + this.user.nama );
          this.$router.replace('/dosen/');
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
          console.log(resp);
        });
      },
      getTahun_ajarann() {
        var app = this;
        axios.get(app.url.replace("dosen", "tahun-ajaran") + '/all')
          .then(function (resp) {
              app.tajar = resp.data;
          })
          .catch(function (resp) {
              console.log(resp);
          })
          .catch(function (resp) {
              console.log(resp);
          })
      },
      getFakultass() {
        var app = this;
        axios.get(app.url.replace("dosen", "fakultas") + '/all')
          .then(function (resp) {
              app.fak = resp.data;
          })
          .catch(function (resp) {
              console.log(resp);
          })
          .catch(function (resp) {
              console.log(resp);
          })
      },
      getJurusann() {
        var app = this;
        axios.get(app.url.replace("dosen", "jurusan") + '/all')
          .then(function (resp) {
              app.jur = resp.data;
          })
          .catch(function (resp) {
              console.log(resp);
          })
          .catch(function (resp) {
              console.log(resp);
          })
      }
    }
  }

</script>