
<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li>Home</li>
              <li><router-link :to="{name: 'IndexUser'}">Kelola User</router-link></li>
              <li class="active">Tambah User</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Tambah User</div>

                <div class="panel-body">
                    <form v-on:submit.prevent="saveForm()" class="form-horizontal" >
                      <div class="form-group">
                        <label for="name" class="col-md-3 control-label" >Name</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Name" v-model="user.nama" autofocus=""/>
                        <span v-if="errors.nama" class="label label-danger"> {{ errors.nama[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-3 control-label" >E-mail</label>
                        <div class="col-md-4">
                          <input type="email" class="form-control" required="" placeholder="Email User" v-model="user.email" autofocus=""/>
                        <span v-if="errors.email" class="label label-danger"> {{ errors.email[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-3 control-label" >Password</label>
                        <div class="col-md-4">
                          <input type="password" class="form-control" required="" placeholder="Password" v-model="user.password" autofocus=""/>
                        <span v-if="errors.password" class="label label-danger"> {{ errors.password[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name" class="col-md-3 control-label" >Confirm Password</label>
                        <div class="col-md-4">
                          <input type="password" class="form-control" required="" placeholder="Confirm Password" v-model="user.confirm_password" autofocus=""/>
                        <span v-if="errors.confirm_password" class="label label-danger"> {{ errors.confirm_password[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-3">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        user: {
          nama: '',
          email: '',
          password:'',
          confirm_password:'',
        },
        url: window.location.origin + (window.location.pathname).replace("home","user"),
        errors: [],
        message: ''
      }
    },
    mounted()  {
     var app = this;
     
    },
    methods: {
      alert(pesan){
        this.$swal({
          title: "Berhasil Menambah User",
          text: pesan,
          icon: "success"
        });
      },
      saveForm(){
        var newUser = this.user;
        axios.post(this.url,newUser)
        .then((resp) => {
          this.alert('Berhasil Menambah User ' + this.user.nama );
          this.$router.replace('/user/');
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
          console.log(resp);
        });
      }
    }
  }

</script>
