<template>
    <div class="container">
        <div class="row">
            <div>
                <ul class="breadcrumb">
                    <li>Home</li>
                    <li>
                        <router-link :to="{name: 'IndexProfile'}">Profile</router-link>
                    </li>
                    <li class="active">Edit
                        <span v-if="profile.is_admin == 1">Admin</span>
                        <span v-if="profile.is_dosen == 1">Dosen</span>
                        <span v-if="profile.is_mhs == 1">Mahasiswa</span>
                    </li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">Edit
                        <span v-if="profile.is_admin == 1">Admin</span>
                        <span v-if="profile.is_dosen == 1">Dosen</span>
                        <span v-if="profile.is_mhs == 1">Mahasiswa</span>
                    </div>

                    <div class="panel-body">
                        <form @submit="saveForm" class="form-horizontal" enctype="multipart/form-data">
                            <div v-if="profile.is_mhs == 1">
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Nim</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" required="" placeholder="Nim"
                                            v-model="profile.nim" />
                                        <span v-if="errors.nim" class="label label-danger">
                                            {{ errors.nim[0]}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Nama Depan</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" required="" placeholder="Nama Depan"
                                            v-model="profile.nama_depan" />
                                        <span v-if="errors.namaDepan" class="label label-danger">
                                            {{ errors.namaDepan[0]}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Nama Belakang</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" required="" placeholder="Nama Belakang"
                                            v-model="profile.nama_belakang" />
                                        <span v-if="errors.namaBelakang" class="label label-danger">
                                            {{ errors.namaBelakang[0]}}</span>
                                    </div>
                                </div>
                            </div>
                            <div v-if="profile.is_dosen == 1">
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">NIDN</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" required="" placeholder="Nim"
                                            v-model="profile.nidn" />
                                        <span v-if="errors.nidn" class="label label-danger">
                                            {{ errors.nidn[0]}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Nama</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" required="" placeholder="Nama Depan"
                                            v-model="profile.nama" />
                                        <span v-if="errors.nama" class="label label-danger">
                                            {{ errors.nama[0]}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label">Fakultas</label>
                                <div class="col-md-6">
                                    <vue-selectize v-model="profile.id_fakultas" class="form-control" required="">
                                        <option value="">Pilih Fakultas</option>
                                        <option v-for="fakultass in fakul" :value="fakultass.id">
                                            {{ fakultass.fakultas}}</option>
                                    </vue-selectize>
                                    <span v-if="errors.id_fakultas" class="label label-danger">
                                        {{ errors.id_fakultas[0]}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label">Jurusan</label>
                                <div class="col-md-6">
                                    <vue-selectize v-model="profile.id_jurusan" class="form-control" required="">
                                        <option v-for="jurusans in jurus" :value="jurusans.id"
                                            v-if="profile.id_fakultas == jurusans.id_fakultas">
                                            {{ jurusans.jurusan}}
                                        </option>
                                        <option value="" v-else>Pilih Jurusan</option>
                                    </vue-selectize>
                                    <span v-if="errors.id_jurusan" class="label label-danger">
                                        {{ errors.id_jurusan[0]}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label">Tahun Ajaran</label>
                                <div class="col-md-6">
                                    <vue-selectize v-model="profile.id_tahun_ajaran" class="form-control" required="">
                                        <option value="">Pilih Tahun Ajaran</option>
                                        <option v-for="tahunAjarans in tahun" :value="tahunAjarans.id">
                                            {{ tahunAjarans.tahun_ajaran}}</option>
                                    </vue-selectize>
                                    <span v-if="errors.id_tahun_ajaran" class="label label-danger">
                                        {{ errors.id_tahun_ajaran[0]}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label">Email</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" required="" placeholder="Email"
                                        v-model="profile.email" />
                                    <span v-if="errors.email" class="label label-danger">
                                        {{ errors.email[0]}}</span>
                                </div>
                            </div>
                            <div v-if="profile.is_mhs == 1" class="form-group">
                                <label for="name" class="col-md-4 control-label">No Hp</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" required="" placeholder="No Hp"
                                        v-model="profile.nohp" />
                                    <span v-if="errors.nohp" class="label label-danger">
                                        {{ errors.nohp[0]}}</span>
                                </div>
                            </div>
                            <div v-if="profile.is_dosen == 1" class="form-group">
                                <label for="name" class="col-md-4 control-label">No Hp</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" required="" placeholder="No Hp"
                                        v-model="profile.no_wa" />
                                    <span v-if="errors.no_wa" class="label label-danger">
                                        {{ errors.no_wa[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label">Alamat</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" required="" placeholder="Alamat"
                                        v-model="profile.alamat" />
                                    <span v-if="errors.alamat" class="label label-danger">
                                        {{ errors.alamat[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                profile: {
                    nim: '',
                    nidn: '',
                    nama_depan: '',
                    nama_belakang: '',
                    nama: '',
                    id_fakultas: '',
                    id_jurusan: '',
                    id_tahun_ajaran: '',
                    email: '',
                    nohp: '',
                    no_wa: '',
                    alamat: '',
                    is_dosen: '',
                    is_mhs: '',
                    is_admin: '',
                },
                fakultass: [],
                fakul: [],
                jurusans: [],
                jurus: [],
                tahunAjarans: [],
                tahun: [],
                url: window.location.origin + (window.location.pathname).replace("home", "profile"),
                errors: [],
                message: '',
            }
        },
        mounted() {
            var app1 = this,
                app2 = this,
                app3 = this;
            var app = this;
            this.profileId = this.$route.params.id;
            axios.get(app.url + '/' + this.profileId + '/edit')
                .then((resp) => {
                    this.profile = resp.data[0];
                })
                .catch((resp) => {
                    alert("Something Goes Wrong");
                });
            app1.getFakultas();
            app2.getJurusan();
            app3.getTahunAjaran();
        },
        methods: {
            alert(pesan) {
                this.$swal({
                    title: "Berhasil Mengubah Profile",
                    text: pesan,
                    icon: "success"
                });
            },
            saveForm(e) {
                let newProfile = this.profile;

                axios.put(this.url + '/' + this.profileId, newProfile)
                    .then((resp) => {
                        console.log(resp);
                        this.alert('Berhasil Mengubah Profile : ' + this.profile.name);
                        this.$router.replace('/profile/');
                    })
                    .catch((resp) => {
                        console.log(resp);
                        if (resp.response.status == 500) alert('Something Goes Wrong');
                        this.errors = resp.response.data.errors;
                    });
            },
            getFakultas() {
                var app = this;
                axios.get(app.url.replace("profile", "fakultas") + '/all')
                    .then(function (resp) {
                        app.fakul = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
            },
            getJurusan() {
                var app = this;
                axios.get(app.url.replace("profile", "jurusan") + '/all')
                    .then(function (resp) {
                        app.jurus = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
            },
            getTahunAjaran() {
                var app = this;
                axios.get(app.url.replace("profile", "tahun-ajaran") + '/all')
                    .then(function (resp) {
                        app.tahun = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    })
            }
        }
    }
</script>