<template>
    <div class="container">
        <div class="row">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <router-link :to="{name: 'IndexDashboard'}">Home</router-link>
                    </li>
                    <li class="active">Profile
                        <span v-if="profile.is_admin == 1">Admin</span>
                        <span v-if="profile.is_dosen == 1">Dosen</span>
                        <span v-if="profile.is_mhs == 1">Mahasiswa</span>
                    </li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">Profile
                        <span v-if="profile.is_admin == 1">Admin</span>
                        <span v-if="profile.is_dosen == 1">Dosen</span>
                        <span v-if="profile.is_mhs == 1">Mahasiswa</span>
                    </div>
                    <div class="panel-body">
                        <div v-if="profile.foto != null" class="col-md-12">
                            <center>
                                <img :src="'images/'+profile.foto" width="200" class="rounded"
                                    alt="..."><br><br>
                            </center>
                        </div>
                        <div v-if="profile.foto == null" class="col-md-12">
                            <center>
                                <img src="images/user-icon.svg" width="200" class="rounded"
                                    alt="..."><br><br>
                            </center>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div v-if="profile.is_mhs == 1" class="form-group">
                                <label for="name" class="col-md-4 control-label">NIM</label>
                                <div class="col-md-6">
                                    <p>: {{ profile.nim}}</p>
                                </div>
                            </div>
                            <div v-if="profile.is_dosen == 1" class="form-group">
                                <label for="name" class="col-md-4 control-label">NIDN</label>
                                <div class="col-md-6">
                                    <p>: {{ profile.nidn}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label">Nama</label>
                                <div class="col-md-6">
                                    <p>: {{ profile.name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label">Email</label>
                                <div class="col-md-6">
                                    <p>: {{ profile.email}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label">Alamat</label>
                                <div class="col-md-6">
                                    <p>: {{ profile.alamat}}</p>
                                </div>
                            </div>
                            <div v-if="profile.is_mhs == 1" class="form-group">
                                <label for="name" class="col-md-4 control-label">Nomer HP</label>
                                <div class="col-md-6">
                                    <p>: {{ profile.nohp}}</p>
                                </div>
                            </div>
                            <div v-if="profile.is_dosen == 1" class="form-group">
                                <label for="name" class="col-md-4 control-label">Nomer HP</label>
                                <div class="col-md-6">
                                    <p>: {{ profile.no_wa}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label">Akun Dibuat</label>
                                <div class="col-md-6">
                                    <p>: {{ profile.created_user}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <div class="row">
                                        <router-link :to="{name:'EditProfile' ,params:{id: profile.id}}"
                                            class="btn btn-xs btn-primary">
                                            Edit Profile
                                        </router-link>
                                        <router-link :to="{name:'FotoProfile' ,params:{id: profile.id}}"
                                            class="btn btn-xs btn-warning">
                                            Edit Foto Profile
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <vue-simple-spinner v-if="loading" message="Loading..."></vue-simple-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                profile: [],
                url: window.location.origin + (window.location.pathname).replace("home", "profile"),
                pencarian: '',
                loading: true
            }
        },
        mounted() {
            var app = this;
            app.getResults();
        },
        methods: {
            getResults(page) {
                var app = this;
                axios.get(app.url)
                    .then(function (resp) {
                        app.profile = resp.data[0];
                        app.loading = false;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        app.loading = false;
                    })
            }
        }
    }
</script>