<template>
    <div class="container">
        <div class="row">
            <div>
                <ul class="breadcrumb">
                    <li>Home</li>
                    <li>
                        <router-link :to="{name: 'IndexProfile'}">Profile</router-link>
                    </li>
                    <li class="active">Ubah Foto Profile
                    </li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">Ubah Foto Profile
                    </div>

                    <div class="panel-body">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card card-default">
                                    <div class="card-header">File Upload Component</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3" v-if="image">
                                                <img :src="image" class="img-responsive" width="150">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="file" v-on:change="onImageChange" class="form-control">
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-success btn-block" @click="uploadImage">Upload
                                                    Image</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                image: '',
            }
        },
        methods: {
            alert(pesan) {
                this.$swal({
                    title: pesan,
                    text: pesan,
                    icon: "success"
                });
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (files[0].size > 2023847) {
                    alert("Ukuran Foto Maxsimal 2MB");
                    files = null;
                } else {
                    if (!files.length)
                        return;
                    this.createImage(files[0]);
                }
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            uploadImage() {
                axios.post('/profile-foto', {
                    image: this.image
                }).then(response => {
                    if(response.data == 500){
                        alert('Something Goes Wrong');
                    }else{
                        this.alert('Berhasil Mengubah Profile');
                        this.$router.replace('/profile/');
                    }
                });
            }
        }
    }
</script>