<template>
    <div class="container">
        <div class="row">
            <div>
                <ul class="breadcrumb">
                    <li>Home</li>
                    <li>
                        <router-link :to="{name: 'IndexMahasiswa'}">Kelola Mahasiswa</router-link>
                    </li>
                    <li class="active">Tambah Mahasiswa</li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">Tambah Mahasiswa</div>

                    <div class="panel-body">
                        <form v-on:submit.prevent="saveForm()" class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Nim</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" required="" placeholder="Nim"
                                        v-model="mahasiswa.nim" />
                                    <span v-if="errors.nim" class="label label-danger">
                                        {{ errors.nim[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Nama Depan</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" required="" placeholder="Nama Depan"
                                        v-model="mahasiswa.nama_depan" />
                                    <span v-if="errors.namaDepan" class="label label-danger">
                                        {{ errors.namaDepan[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Nama Belakang</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" required="" placeholder="Nama Belakang"
                                        v-model="mahasiswa.nama_belakang" />
                                    <span v-if="errors.namaBelakang" class="label label-danger">
                                        {{ errors.namaBelakang[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Fakultas</label>
                                <div class="col-md-6">
                                    <vue-selectize v-model="mahasiswa.id_fakultas" class="form-control" required="">
                                        <option value="">Pilih Fakultas</option>
                                        <option v-for="fakultass in fakul" :value="fakultass.id">
                                            {{ fakultass.fakultas}}</option>
                                    </vue-selectize>
                                    <span v-if="errors.id_fakultas" class="label label-danger">
                                        {{ errors.id_fakultas[0]}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Jurusan</label>
                                <div class="col-md-6">
                                    <vue-selectize v-model="mahasiswa.id_jurusan" class="form-control" required="">
                                        <option v-for="jurusans in jurus" :value="jurusans.id" v-if="mahasiswa.id_fakultas == jurusans.id_fakultas">
                                            {{ jurusans.jurusan}}
                                        </option>
                                        <option value="" v-else>Pilih Jurusan</option>
                                    </vue-selectize>
                                    <span v-if="errors.id_jurusan" class="label label-danger">
                                        {{ errors.id_jurusan[0]}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Tahun Ajaran</label>
                                <div class="col-md-6">
                                    <vue-selectize v-model="mahasiswa.id_tahun_ajaran" class="form-control" required="">
                                        <option value="">Pilih Tahun Ajaran</option>
                                        <option v-for="tahunAjarans in tahun" :value="tahunAjarans.id">
                                            {{ tahunAjarans.tahun_ajaran}}</option>
                                    </vue-selectize>
                                    <span v-if="errors.id_tahun_ajaran" class="label label-danger">
                                        {{ errors.id_tahun_ajaran[0]}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Email</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" required="" placeholder="Email"
                                        v-model="mahasiswa.email" />
                                    <span v-if="errors.email" class="label label-danger">
                                        {{ errors.email[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">No Hp</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" required="" placeholder="No Hp"
                                        v-model="mahasiswa.nohp" />
                                    <span v-if="errors.nohp" class="label label-danger">
                                        {{ errors.nohp[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Alamat</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" required="" placeholder="Alamat"
                                        v-model="mahasiswa.alamat" />
                                    <span v-if="errors.alamat" class="label label-danger">
                                        {{ errors.alamat[0]}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-2">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                mahasiswa: {
                    nim: '',
                    nama_depan: '',
                    nama_belakang: '',
                    id_fakultas: '',
                    id_jurusan: '',
                    id_tahun_ajaran: '',
                    email: '',
                    nohp: '',
                    alamat: ''
                },
                fakultass: [],
                fakul: [],
                jurusans: [],
                jurus: [],
                tahunAjarans: [],
                tahun: [],
                url: window.location.origin + (window.location.pathname).replace("home", "mahasiswa"),
                errors: [],
                message: ''
            }
        },
        mounted() {
            var app = this, app2 = this, app3 = this;
            app.getFakultas();
            app2.getJurusan();
            app3.getTahunAjaran();
        },
        methods: {
            alert(pesan) {
                this.$swal({
                    title: "Berhasil Menambah Mahasiswa",
                    text: pesan,
                    icon: "success"
                });
            },
            saveForm() {
                var newMahasiswa = this.mahasiswa;
                axios.post(this.url, newMahasiswa)
                    .then((resp) => {
                        this.alert('Berhasil Menambah Mahasiswa : ' + this.mahasiswa.nama_depan +' '+ this.mahasiswa.nama_belakang);
                        this.$router.replace('/mahasiswa/');
                    })
                    .catch((resp) => {
                        if (resp.response.status == 500) alert('Something Goes Wrong');
                        this.errors = resp.response.data.errors;
                        console.log(resp);
                    });
            },
            getFakultas() {
                var app = this;
                axios.get(app.url.replace("mahasiswa", "fakultas") + '/all')
                    .then(function (resp) {
                        app.fakul = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    }) 
            },
            getJurusan() {
                var app = this;
                axios.get(app.url.replace("mahasiswa", "jurusan") + '/all')
                    .then(function (resp) {
                        app.jurus = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    }) 
            },
            getTahunAjaran(){
                var app = this;
                axios.get(app.url.replace("mahasiswa", "tahun-ajaran") + '/all')
                    .then(function (resp) {
                        app.tahun = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    }) 
            }
        }
    }
</script>