<template>
    <div class="container">
        <div class="row">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <router-link :to="{name: 'IndexDashboard'}">Home</router-link>
                    </li>
                    <li class="active">Mahasiswa</li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">Mahasiswa</div>

                    <div class="panel-body">
                        <router-link :to="{name: 'CreateMahasiswa'}" class="btn btn-md btn-primary">
                            Tambah Mahasiswa
                        </router-link>
                        <div align="right">
                            <input type="text" placeholder="Pencarian ..." v-bind:style="{width: '20%' }"
                                v-model="pencarian" class="form-control" />
                        </div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <th>NIM</th>
                                <th>Nama</th>
                                <th>Jurusan</th>
                                <th>Tahun Ajaran</th>
                                <th>Alamat</th>
                                <th>No Hp</th>
                                <th>Aksi</th>
                            </thead>
                            <tbody v-if="mahasiswa.length">
                                <tr v-for="mahasiswa,index in mahasiswa">
                                    <td>{{ mahasiswa.nim}}</td>
                                    <td>{{ mahasiswa.nama_depan+" "+mahasiswa.nama_belakang}}</td>
                                    <td>{{ mahasiswa.jurusan}}</td>
                                    <td>{{ mahasiswa.tahun_ajaran}}</td>
                                    <td>{{ mahasiswa.alamat}}</td>
                                    <td>{{ mahasiswa.nohp}}</td>
                                    <td>
                                        <router-link :to="{name:'EditMahasiswa' ,params:{id: mahasiswa.id}}"
                                            class="btn btn-xs btn-default">
                                            Edit
                                        </router-link>
                                        <button class="btn btn-xs btn-danger"
                                            v-on:click="konfirmasiHapus(mahasiswa.id,index,mahasiswa.nama_depan)">
                                            Hapus
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <vue-pagination :data="mahasiswaData" v-on:pagination-change-page="getResults" :limit="4">
                        </vue-pagination>
                        <vue-simple-spinner v-if="loading" message="Loading..."></vue-simple-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                mahasiswa: [],
                mahasiswaData: {},
                url: window.location.origin + (window.location.pathname).replace("home", "mahasiswa"),
                pencarian: '',
                loading: true
            }
        },
        mounted() {
            var app = this;
            app.getResults();
        },
        watch: {
            pencarian: function (newSearch) {
                this.getHasilPencarian();
            }
        },
        methods: {
            getResults(page) {
                var app = this;
                if (typeof page == 'undefined') {
                    page = 1;
                }
                axios.get(app.url + '/view?page=' + page)
                    .then(function (resp) {
                        app.mahasiswa = resp.data.data;
                        app.mahasiswaData = resp.data;
                        app.loading = false;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        app.loading = false;

                    })
            },
            getHasilPencarian(page) {
                var app = this;
                if (typeof page == 'undefined') {
                    page = 1;
                }
                axios.get(app.url + '/search?q=' + app.pencarian + '&page=' + page)
                    .then(function (resp) {
                        app.mahasiswa = resp.data.data;
                        app.mahasiswaData = resp.data;
                        app.loading = false;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        app.loading = false;

                    })
            },
            deleteEntry(id, index, mahasiswaMahasiswa) {
                axios.delete(this.url + '/' + id)
                    .then((resp) => {
                        this.getResults();
                        this.alert("Berhasil Menghapus", "Berhasil Menghapus Mahasiswa " +
                            mahasiswaMahasiswa);
                    })
                    .catch((resp) => {
                        alert("Something Goes Wrong")
                        console.log(resp);
                    })
            },
            konfirmasiHapus(id, index, mahasiswaMahasiswa) {
                this.$swal({
                        title: "Yakin Ingin Menghapus Mahasiswa " + mahasiswaMahasiswa + "?",
                        text: "Data yang di hapus tidak akan bisa di kembalikan lagi",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            this.deleteEntry(id, index, mahasiswaMahasiswa);
                        }
                    })
            },
            alert(title, pesan) {
                this.$swal({
                    title: title,
                    text: pesan,
                    icon: "success"
                });
            }
        }
    }
</script>