<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li><router-link :to="{name: 'IndexDashboard'}">Home</router-link></li>
              <li class="active">Tahun Ajaran</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Tahun Ajaran</div>

                <div class="panel-body">

                    <router-link 
                      :to="{name: 'CreateTahunAjaran'}" 
                      class="btn btn-md btn-primary"> 
                        Tambah Tahun Ajaran
                    </router-link>
                    <div class="table-responsive">
                    
                    <div align="right">
                   Pencarian 
                    <input type="text" v-bind:style="{width: '20%' }" v-model="pencarian" class="form-control" />
                    </div>
                    <table class="table table-bordered" >
                    <thead>
                        <th>Tahun Ajaran</th>
                        <th>Aksi</th>
                    </thead>
                    <tbody v-if="tahun_ajaran.length">
                      <tr v-for="tahun_ajaran,index in tahun_ajaran">
                        <td>{{ tahun_ajaran.tahun_ajaran}}</td>
                        <td>
                        <router-link 
                          :to="{name:'EditTahunAjaran' ,params:{id: tahun_ajaran.id}}" 
                          class="btn btn-xs btn-default"
                       >
                          Edit
                       </router-link>
                        <button 
                          class="btn btn-xs btn-danger" 
                          v-on:click="konfirmasiHapus(tahun_ajaran.id,index,tahun_ajaran.tahun_ajaran)"
                        >
                          Hapus
                        </button>
                        </td>
                      </tr>
                    </tbody>
                    </table>
                    <vue-pagination
                      :data="tahun_ajaranData"
                      v-on:pagination-change-page="getResults"
                      :limit="4"
                    >
                    </vue-pagination>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        tahun_ajaran: [],
        tahun_ajaranData: {},
        url: window.location.origin + (window.location.pathname).replace("home","tahun-ajaran"),
        pencarian: '',
        loading: true
      }
    },
    mounted()  {
     var app = this;
    app.getResults();
    },
    watch: {
       pencarian: function(newSearch){
         this.getHasilPencarian();
       }  
    },
    methods: {
      getResults(page){
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/view?page=' + page)
        .then(function(resp){
          app.tahun_ajaran = resp.data.data;
          app.tahun_ajaranData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;
         
        })
      },
      getHasilPencarian(page){
          
        var app = this;
        if(typeof page == 'undefined'){
          page = 1;
        }
        axios.get(app.url + '/search?q='+app.pencarian+'&page=' + page)
        .then(function(resp){
          app.tahun_ajaran = resp.data.data;
          app.tahun_ajaranData = resp.data;
          app.loading = false;
        })
        .catch(function(resp){
          console.log(resp);
          app.loading = false;
         
        })
      },
      deleteEntry(id,index,tahun_ajaranTahunAjaran){
          axios.delete(this.url + '/' + id)
          .then((resp) => {
            this.getResults();
            this.alert("Berhasil Menghapus","Berhasil Menghapus Tahun Ajaran " + tahun_ajaranTahunAjaran);
          })
          .catch((resp) =>{
            alert("Something Goes Wrong")
            console.log(resp);
          })
      },
      konfirmasiHapus(id,index,tahun_ajaranTahunAjaran){
      
        this.$swal({
          title: "Yakin Ingin Menghapus Tahun Ajaran " + tahun_ajaranTahunAjaran + "?",
          text: "Data yang di hapus tidak akan bisa di kembalikan lagi",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            this.deleteEntry(id,index,tahun_ajaranTahunAjaran);
          }
        })  
      },
      alert(title,pesan){
        this.$swal({
          title: title,
          text: pesan,
          icon: "success"
        });
      }
    }
  }

</script>
