<template>
<div class="container">
    <div class="row">
        <div>
            <ul class="breadcrumb">
              <li>Home</li>
              <li><router-link :to="{name: 'IndexTahunAjaran'}">Tahun Ajaran</router-link></li>
              <li class="active">Edit Tahun Ajaran</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Edit Tahun Ajaran</div>

                <div class="panel-body">
                    <form v-on:submit.prevent="saveForm()" class="form-horizontal" >
                      <div class="form-group">
                        <label for="name" class="col-md-2 control-label" >Tahun Ajaran</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" required="" placeholder="Tahun Ajaran" v-model="tahun_ajaran.tahun_ajaran" autofocus=""/>
                        <span v-if="errors.tahun_ajaran" class="label label-danger"> {{ errors.tahun_ajaran[0]}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
  export default {
    data: function() {
      return {
        tahun_ajaran: {
          tahun_ajaran: ''
        },
        tahunajaranId : null,
        url: window.location.origin + (window.location.pathname).replace("home","tahun-ajaran"),
        errors: [],
        message: ''
      }
    },
    mounted()  {
     var app = this;
     this.tahunajaranId = this.$route.params.id;
     axios.get(app.url+'/'+this.tahunajaranId+ '/edit')
     .then((resp) => {
       this.tahun_ajaran =  resp.data;
     })
     .catch((resp) => {
        alert("Something Goes Wrong");    
     });

    },
    methods: {
      alert(pesan){
        this.$swal({
          title: "Berhasil Mengubah Tahun Ajaran",
          text: pesan,
          icon: "success"
        });
      },
      saveForm(){
        var newTahunAjaran = this.tahun_ajaran;
        axios.patch(this.url + '/' + this.tahunajaranId, newTahunAjaran)
        .then((resp) => {
          this.alert('Berhasil Mengubah Tahun Ajaran ' + this.tahun_ajaran.tahun_ajaran );
          this.$router.replace('/tahun-ajaran/');
        })
        .catch((resp) =>{
          if(resp.response.status == 500) alert('Something Goes Wrong');
          this.errors = resp.response.data.errors;
          console.log(resp);
        });
      }
    }
  }

</script>
