<template>
    <div class="container">
        <div class="row">
            <div>
                <ul class="breadcrumb">
                    <li>Home</li>
                    <li>
                        <router-link :to="{name: 'IndexMataKuliah'}">Mata Kuliah</router-link>
                    </li>
                    <li class="active">Tambah Mata Kuliah</li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">Tambah Mata Kuliah</div>

                    <div class="panel-body">
                        <form v-on:submit.prevent="saveForm()" class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Kode</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required="" placeholder="Kode Mata Kuliah"
                                        v-model="mataKuliah.kode" autofocus="" />
                                    <span v-if="errors.kode" class="label label-danger">
                                        {{ errors.kode[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Mata Kuliah</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required="" placeholder="Mata Kuliah"
                                        v-model="mataKuliah.mata_kuliah" autofocus="" />
                                    <span v-if="errors.mata_kulilah" class="label label-danger">
                                        {{ errors.mata_kulilah[0]}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Fakultas</label>
                                <div class="col-md-6">
                                    <vue-selectize v-model="mataKuliah.id_fakultas" class="form-control" required="">
                                        <option value="">Pilih Fakultas</option>
                                        <option v-for="fakultass in fakul" :value="fakultass.id">
                                            {{ fakultass.fakultas}}</option>
                                    </vue-selectize>
                                    <span v-if="errors.id_fakultas" class="label label-danger">
                                        {{ errors.id_fakultas[0]}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Jurusan</label>
                                <div class="col-md-6">
                                    <vue-selectize v-model="mataKuliah.id_jurusan" class="form-control" required="">
                                        <option v-for="jurusans in jurus" :value="jurusans.id" v-if="mataKuliah.id_fakultas == jurusans.id_fakultas">
                                            {{ jurusans.jurusan}}
                                        </option>
                                        <option value="" v-else>Pilih Jurusan</option>
                                    </vue-selectize>
                                    <span v-if="errors.id_jurusan" class="label label-danger">
                                        {{ errors.id_jurusan[0]}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label">Tahun Ajaran</label>
                                <div class="col-md-6">
                                    <vue-selectize v-model="mataKuliah.id_tahun_ajaran" class="form-control" required="">
                                        <option value="">Pilih Tahun Ajaran</option>
                                        <option v-for="tahunAjarans in tahun" :value="tahunAjarans.id">
                                            {{ tahunAjarans.tahun_ajaran}}</option>
                                    </vue-selectize>
                                    <span v-if="errors.id_tahun_ajaran" class="label label-danger">
                                        {{ errors.id_tahun_ajaran[0]}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-2">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        data: function () {
            return {
                mataKuliah: {
                    kode: '',
                    mata_kulilah: '',
                    id_fakultas: '',
                    id_jurusan: '',
                    id_tahun_ajaran: ''
                },
                fakultass: [],
                fakul: [],
                jurusans: [],
                jurus: [],
                tahunAjarans: [],
                tahun: [],
                url: window.location.origin + (window.location.pathname).replace("home", "mata-kuliah"),
                errors: [],
                message: ''
            }
        },
        mounted() {
            let app = this, app2 = this, app3 = this;
            app.getFakultas();
            app2.getJurusan();
            app3.getTahunAjaran();
        },
        methods: {
            alert(pesan) {
                this.$swal({
                    title: "Berhasil Menambah Mata Kuliah",
                    text: pesan,
                    icon: "success"
                });
            },
            saveForm() {
                var newMataKuliah = this.mataKuliah;
                axios.post(this.url, newMataKuliah)
                    .then((resp) => {
                        this.alert('Berhasil Menambah Mata Kuliah : ' + this.mataKuliah.mata_kuliah);
                        this.$router.replace('/mata-kuliah/');
                    })
                    .catch((resp) => {
                        if (resp.response.status == 500) alert('Something Goes Wrong');
                        this.errors = resp.response.data.errors;
                        console.log(resp);
                    });
            },
            getFakultas() {
                var app = this;
                axios.get(app.url.replace("mata-kuliah", "fakultas") + '/all')
                    .then(function (resp) {
                        app.fakul = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    }) 
            },
            getJurusan() {
                var app = this;
                axios.get(app.url.replace("mata-kuliah", "jurusan") + '/all')
                    .then(function (resp) {
                        app.jurus = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    }) 
            },
            getTahunAjaran(){
                var app = this;
                axios.get(app.url.replace("mata-kuliah", "tahun-ajaran") + '/all')
                    .then(function (resp) {
                        app.tahun = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    }) 
            }
        }
    }
</script>