<template>
    <div class="container">
        <div class="row">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <router-link :to="{name: 'IndexDashboard'}">Home</router-link>
                    </li>
                    <li class="active">Mata Kuliah</li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">Mata Kuliah</div>

                    <div class="panel-body">
                        <router-link :to="{name: 'CreateMataKuliah'}" class="btn btn-md btn-primary">
                            Tambah Mata Kuliah
                        </router-link>
                        <div align="right">
                            <input type="text" placeholder="Pencarian ..." v-bind:style="{width: '20%' }"
                                v-model="pencarian" class="form-control" />
                        </div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <th>Kode</th>
                                <th>Jurusan</th>
                                <th>Tahun Ajaran</th>
                                <th>Mata Kuliah</th>
                                <th>Aksi</th>
                            </thead>
                            <tbody v-if="mataKuliah.length">
                                <tr v-for="mataKuliah,index in mataKuliah">
                                    <td>{{ mataKuliah.kode}}</td>
                                    <td>{{ mataKuliah.jurusan}}</td>
                                    <td>{{ mataKuliah.tahun_ajaran}}</td>
                                    <td>{{ mataKuliah.mata_kuliah}}</td>
                                    <td>
                                        <router-link :to="{name:'EditMataKuliah' ,params:{id: mataKuliah.id}}"
                                            class="btn btn-xs btn-default">
                                            Edit
                                        </router-link>
                                        <button class="btn btn-xs btn-danger"
                                            v-on:click="konfirmasiHapus(mataKuliah.id,index,mataKuliah.mata_kuliah)">
                                            Hapus
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <vue-pagination :data="mataKuliahData" v-on:pagination-change-page="getResults" :limit="4">
                        </vue-pagination>
                        <vue-simple-spinner v-if="loading" message="Loading..."></vue-simple-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                mataKuliah: [],
                mataKuliahData: {},
                url: window.location.origin + (window.location.pathname).replace("home", "mata-kuliah"),
                pencarian: '',
                loading: true
            }
        },
        mounted() {
            var app = this;
            app.getResults();
        },
        watch: {
            pencarian: function (newSearch) {
                this.getHasilPencarian();
            }
        },
        methods: {
            getResults(page) {
                var app = this;
                if (typeof page == 'undefined') {
                    page = 1;
                }
                axios.get(app.url + '/view?page=' + page)
                    .then(function (resp) {
                        app.mataKuliah = resp.data;
                        app.mataKuliahData = resp;
                        app.loading = false;
                    })
                    .catch(function (resp) {
                        app.loading = false;
                    })
            },
            getHasilPencarian(page) {
                var app = this;
                if (typeof page == 'undefined') {
                    page = 1;
                }
                axios.get(app.url + '/search?q=' + app.pencarian + '&page=' + page)
                    .then(function (resp) {
                        app.mataKuliah = resp.data.data;
                        app.mataKuliahData = resp.data;
                        app.loading = false;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        app.loading = false;

                    })
            },
            deleteEntry(id, index, matkul) {
                axios.delete(this.url + '/' + id)
                    .then((resp) => {
                        this.getResults();
                        this.alert("Berhasil Menghapus", "Berhasil Menghapus Mahasiswa " +
                            matkul);
                    })
                    .catch((resp) => {
                        alert("Something Goes Wrong")
                        console.log(resp);
                    })
            },
            konfirmasiHapus(id, index, matkul) {
                this.$swal({
                        title: "Yakin Ingin Menghapus Mahasiswa " + matkul + "?",
                        text: "Data yang di hapus tidak akan bisa di kembalikan lagi",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            this.deleteEntry(id, index, matkul);
                        }
                    })
            },
            alert(title, pesan) {
                this.$swal({
                    title: title,
                    text: pesan,
                    icon: "success"
                });
            }
        }
    }
</script>